body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.nav-tabs .nav-link {
    color: #333;
    font-weight: 500;
}

.nav-tabs .nav-link.active {
    color: #007bff;
    font-weight: 600;
}

.navbar{
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.08);
}

.navbar-nav, .nav-link{
    font-weight: 700;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.nav-link:hover{
    color: #024ec8;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}


    .About{
      
      background-color: #a7cdfc;
      color: black;
      margin-bottom: 4%;
    }

    .About p{
      word-spacing: 30%;
      line-height: 30px;
      font-size: large;
    }

    
  .About .btn{
    border-radius: 12vh;
    color:rgb(12, 12, 12);
    background-color: #ffffff;
    border-color: #f8f9fa;
   
  
}

.About .btn:active {
    
    background-color: white; 
    border-color: #024ec8;
}

    @media screen and (min-width: 768px) {
      .about-us {
        width: 70%;
      }
    }

    .col a {
      text-decoration: none; 
      color: black;
  }

  
  .col a:hover {
      color: darkgray; 
  }
